extends layout

block content
  div(id="container")
    h1= title
    div(id="header")
      table()
        th
          form(action="/refresh" method="post" enctype="multipart/form-data")
            input(type="submit" value="Refresh")
        th
          form(action="/reset" method="post")
            input(type="submit" value="Reset")
    div(id="contentcontainer")
      div(id="rightcontent")
        form(action="/upload/image" method="post" enctype="multipart/form-data")
          h5 1. Upload an image:
            br
            input(type="file" name="uploadedImage")
            br
            img(src="./in/in.gif" style="width:120px;height:120px;")
            br
            input(type="submit")
        form(action="/yeet/gif" method="post" enctype="multipart/form-data")
          h5 2. Choose an effect to apply:
            select(name="gifAction")
              option roll
              option wobble
              option pulse
              option zoom
              option shake
              option fried
              option hue
              option tint
            img(name="loadingGIF" src="./img/loadingcircle.gif" style="visibility:collapse;width:40px;height:40px;")
            br
            img(src="./out/output.gif")
            br
            input(type="submit" value="YEET")
      
      div(id="leftcontent")
        h4 Time to generate some gifs...
        h5 A quick reference of the effects available to you:
        p(id="info") Hover over each item to view an example of the effect
        li(class="tooltip") roll
          span(class="tooltiptext") 
            img(src="./examples/roll_example.gif" height=50 width=50)
        br
        li(class="tooltip") wobble
          span(class="tooltiptext")
            img(src="./examples/wobble_example.gif" height=50 width=50)
        br
        li(class="tooltip") pulse
          span(class="tooltiptext")
            img(src="./examples/pulse_example.gif" height=50 width=50)
        br
        li(class="tooltip") zoom
          span(class="tooltiptext")
            img(src="./examples/zoom_example.gif" height=50 width=50)
        br
        li(class="tooltip") shake
          span(class="tooltiptext")
            img(src="./examples/shake_example.gif" height=50 width=50)
        br
        li(class="tooltip") fried
          span(class="tooltiptext")
            img(src="./examples/fried_example.gif" height=50 width=50)
        br
        li(class="tooltip") hue
          span(class="tooltiptext")
            img(src="./examples/hue_example.gif" height=50 width=50)
        br
        li(class="tooltip") tint
          span(class="tooltiptext")
            img(src="./examples/tint_example.gif" height=50 width=50)
        
        p(id="info") Bear in mind, you can always upload the output gif again and apply multiple effects.